<div class="cont-account cont d-block">
    <div class="accounts d-flex justify-content-between">
        <h4>My Accounts</h4>
        <img src="../../../assets/account.png" height="30px" width="30px" alt="">
    </div>
    <table class="table table-bordered  mt-4">
        <thead>
          <tr class="th-table">
            <th scope="col">Numéro de compte</th>
            <th scope="col">Intitulé</th>
            <th scope="col">Solde</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2546315786241565</th>
            <td>John Down</td>
            <td>8000.00</td>
          </tr>
          <tr>
            <th scope="row">2546345213241325</th>
            <td>John Down</td>
            <td>10000.00</td>
          </tr>
        </tbody>
    </table>
</div>