
<div class="" *ngIf="myAccounts!==undefined">
  <div class="cont-account cont d-block" >
    <div class="accounts d-flex justify-content-between">
        <h4>My Accounts</h4>
        <img src="../../../assets/account.png" height="30px" width="30px" alt="">
    </div>
    <table class="table table-bordered  mt-2" >
        <thead>
          <tr class="th-table">
            <th scope="col">Account Number</th>
            <th scope="col">Entitled</th>
            <th scope="col">Account Balance</th>
          </tr>
        </thead>
        <tbody *ngFor="let account of myAccounts">
          <tr>
            <th scope="row">{{account.accountNumber}}</th>
            <td>{{account.entitled}}</td>
            <td>{{account.accountBalance | balance}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>