<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand navbar-logo" routerLink="/">
            <img src="../../../../assets/HosmoaBank.png" alt="" style="height: 50px;width: 180px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=""><i class="fas fa-signal-"></i></div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item d-flex"  [ngClass]="{'nav-active':isActive==='Virements'}">
                    <img src="../../../../assets/virement.png" height="20px" width="20px" alt="" class="mt-2">
                    <a class="nav-link " (click)="changeActive('Virements')" aria-current="page" routerLink="#"><strong>Virements</strong></a>
                </li>
                <li class="nav-item d-flex" [ngClass]="{'nav-active':isActive==='Carte Prépayée'}">
                    <img src="../../../../assets/recharge_carte.png" height="20px" width="20px" alt="" class="mt-2">
                    <a class="nav-link" (click)="changeActive('Carte Prépayée')"  routerLink="#"><strong>Carte Prépayée</strong></a>
                </li>
                <li class="nav-item d-flex" [ngClass]="{'nav-active':isActive==='Paiment Factures'}">
                    <img src="../../../../assets/paiement_factures.png" height="20px" width="20px" alt="" class="mt-2">
                    <a class="nav-link" (click)="changeActive('Paiment Factures')"  routerLink="#"><strong>Paiment Factures</strong></a>
                </li>
                <li class="nav-item d-flex" [ngClass]="{'nav-active':isActive==='Recharge Télécom'}">
                    <img src="../../../../assets/releve_bancaire.png" height="20px" width="20px" alt="" class="mt-2">
                    <a class="nav-link" (click)="changeActive('Recharge Télécom')"  routerLink="#"><strong>Recharge Télécom</strong></a>
                </li>
                <li class="nav-item d-flex ml-auto" [ngClass]="{'nav-active':isActive==='client'}">
                    <img src="../../../../assets/releve_bancaire.png" height="20px" width="20px" alt="" class="mt-2">
                    <a class="nav-link" (click)="changeActive('client')"  routerLink="#"><strong><i>Bienvenue</i> Haitham OUMERZOUG</strong></a>
                </li>
            </ul>
        </div>
    </div>
  </nav>