.accounts {
    width: 100%;
  }
  
  .container {
    padding: 0 3rem;
    margin-top: 6rem;
  }
  
  .dashboard-card {
    margin: 2rem 0;
  }
  
  .mat-card-content {
    overflow-x: auto;
  }
  
  .mat-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  @media all and (max-width: 1235px) {
    .container {
      padding: 0 1.5rem;
      margin-top: 6rem;
    }
  
  }