  <!-- Intro Starts -->
  <div class="d-flex flex-direction-column flex-direction-md-row flex-wrap flex-wrap-md-nowrap">
    <div id="introduction" class="container-fluid-md  w-md-50 order-md-3 overflow-hidden">
      <div id="intro-img-holder" class="col-12 row justify-content-center m-0 p-0">
        <img id="intro-img" class="img-fluid" src="../../../../assets/welcome_svg.svg" alt="intro img">
      </div>

    </div>
    <div class="container-md w-md-50 d-md-flex justify-content-center align-items-center flex-column">
      <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-0 double-gutter-md-left-padding ">
      <h2 id="business-tagline"  class="text-center text-md-left">Next generation digital<span class="type-animation animating">HOSMOA Banking</span></h2>
      <p class="text-center  text-md-left color-grayish-blue">Take your financial life online. Your Easybank account will be a one-stop-shop
        for spending, saving, budgeting, investing, and much more.</p>
      <button id="request-invite-btn" type="button" class="btn btn-lg rounded-pill text-white bg-green-cyan ml-auto mr-auto ml-md-0 mr-md-0 request-btns">Request Invite</button>
        </div>
    </div>
  </div>
  <!-- Intro Ends -->
  <!-- Why choose Easybank starts -->
  <div id="choose-easybank" class="container-md mt-5 pt-5 mt-md-custom-easybank d-md-flex flex-md-wrap">
   
    <div id="cards" class="d-sm-flex mt-4 justify-content-sm-center align-items-sm-start col-md-10 offset-md-1 flex-sm-wrap">
       <h2 class="text-center text-md-left w-100 gutter-md-left-padding">Login As</h2>
    
    <div class="card col-sm-6 col-lg-3 row justify-content-center align-items-center align-items-md-start flex-direction-column">
      <img src="https://svgshare.com/i/JpQ.svg" alt="Online Banking" class="img-fluid">
      <h4>Admin</h4>
      
    </div>
    <div class="card col-sm-6 col-lg-3 row justify-content-center align-items-center align-items-md-start flex-direction-column">
      <img src="https://svgshare.com/i/Joj.svg" alt="Simple Budgeting" class="img-fluid">
      <h4> Agent</h4>
     
    </div>
    <div class="card col-sm-6 col-lg-3 row justify-content-center align-items-center align-items-md-start flex-direction-column">
      <img src="https://svgshare.com/i/Jp4.svg" alt="Fast Onboarding" class="img-fluid">
      <h4>Client</h4>
    </div>
      </div>
  </div>
  <!-- Why choose Easybank ends -->
  
  
