  <!-- Intro Starts -->
  <div class="d-flex flex-direction-column flex-direction-md-row flex-wrap flex-wrap-md-nowrap">
    <div id="introduction" class="container-fluid-md  w-md-50 order-md-3 overflow-hidden">
      <div id="intro-img-holder" class="col-12 row justify-content-center m-0 p-0">
        <img id="intro-img" class="img-fluid" src="../../../../assets/welcome_svg.svg" alt="intro img">
      </div>

    </div>
    <div class="container-md w-md-50 d-md-flex justify-content-center align-items-center flex-column">
      <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-0 double-gutter-md-left-padding ">
      <h2 id="business-tagline"  class="text-center text-md-left">Next generation digital <span class="type-animation animating">HOSMOA Banking</span></h2>
      <p class="text-center  text-md-left color-grayish-blue">Take your financial life online. Your Easybank account will be a one-stop-shop
        for spending, saving, budgeting, investing, and much more.</p>
      <button id="request-invite-btn" type="button" class="btn btn-lg rounded-pill text-white bg-green-cyan ml-auto mr-auto ml-md-0 mr-md-0 request-btns">+ More About Us</button>
        </div>
    </div>
  </div>
  <!-- Intro Ends -->
  <!-- Why choose Easybank starts -->
  
  
  
  <div id="choose-easybank" class="container-md d-flex justify-content-center mt-5 pt-5 mt-md-custom-easybank d-md-flex flex-md-wrap">
    <h2 class="text-center text-md-left w-100 gutter-md-left-padding" style="color: #ffbe76;">Login As</h2>

    <div id="cards" class="d-flex justify-content-between mt-4" style="width: 50%;">
      <div class="">
        <button id="request-invite-btn" type="button" class="login btn rounded-pill text-white bg-green-cyan mr-5 request-btns">Admin</button>
      </div>

      <div class="">
        <button id="request-invite-btn" type="button" class="login btn rounded-pill text-white bg-green-cyan ml-auto mr-auto ml-md-0 mr-md-0 request-btns">Client</button>
      </div>

      <div class="">
        <button id="request-invite-btn" type="button" class="login btn rounded-pill text-white bg-green-cyan ml-auto mr-auto ml-md-0 mr-md-0 request-btns">Agent</button>
      </div>
    </div>
  </div>
  <!-- Why choose Easybank ends -->
  
  
