@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
body {
  font-family: "Public Sans", sans-serif !important;
  font-size: 18px !important;
  color: #2d314d !important;
}

p {
  cursor: default !important;
}

/*Navbar*/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  nav {
    z-index: 3000 !important;
    padding: 0 1rem 0 1rem !important;
  }

  .nav-link {
    text-align: center;
    font-weight: bold;
    color: #2D314D !important;
    outline: none !important;
  }
  .navbar-brand{
    padding-top: 4% !important;
    padding-bottom: 2% !important;}
  }
@media only screen and (min-width: 768px) and (max-width: 849.98px) {
  h1{
    padding-top: 6px !important;	
  }
  .navbar-brand{
    padding:0 !important;
  }
  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 3% !important;

  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 5% !important;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1199.98px) {
  h1{
	  padding-top: 6px !important;	
  }
  .navbar-brand{
    padding:0 !important;
  }
  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 7% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 12% !important;
  }
}
@media only screen and (min-width: 1200px) {
   h1{
	  padding-top: 6px !important;	
   }
  .navbar-brand{
    padding:0 !important;
  }
  nav {
    z-index: 3000 !important;
    padding: 0 6rem 0 6rem !important;
    width: 100%;
    padding-left: 12% !important;
    padding-right: 10% !important;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
  }

  .navbar-expand-md .navbar-collapse {
    padding-left: 22% !important;
  }
}
.nav-link {
  font-size: 15px !important;
  outline: none !important;
}

.nav-link:active {
  border-bottom: 4px solid #31d35c !important;
}

#header-request-invite-btn {
  background: linear-gradient(90deg, #29A3DD, #E95314) !important;
  font-size: 15px !important;
  display: block;
  margin: auto;
}

/*Introduction*/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .w-xs-50 {
    width: 50% !important;
  }

  #introduction {
    /* background-image: url("../../../assets/welcome_svg.svg") !important; */
    min-height: 50vh !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% -8vh;
    width: 100%;
  }

  #intro-img-holder {
    top: -29% !important;
  }

  #intro-img {
    width: 95% !important;
  }

  h2 {
    margin-top: 2%;
    cursor: default !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1198.98px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #introduction {
    /* background-image: url("https://svgshare.com/i/JsH.svg") !important; */
    background-repeat: no-repeat;
    background-position: 8% 112%;
  }

  #intro-img-holder {
    top: -13% !important;
    left: 20% !important;
    height: 100% !important;
  }

  #intro-img {
    height: 110% !important;
  }

  h2 {
    margin-top: 8vh;
  }
}
@media only screen and (min-width: 1200px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  #introduction {
    /* background-image: url("https://svgshare.com/i/JsH.svg") !important; */
    background-repeat: no-repeat;
    background-position: 11% 112%;
  }

  #intro-img-holder {
    top: -13% !important;
    left: 17% !important;
    height: 100% !important;
  }

  #intro-img {
    height: 110% !important;
  }

  h2 {
    margin-top: 8vh;
    cursor: default !important;
  }
}
.color-grayish-blue {
  color: #9698a6 !important;
}

#request-invite-btn {
  /* background: linear-gradient(90deg, #29A3DD, #E95314) !important; */
  font-size: 18px !important;
  display: block;
}
.login{
  width: 170%;
}

.login1{
  background-color: #29A3DD !important;
}

.login2{
  background: linear-gradient(90deg, #29A3DD, #E95314) !important;
}

.login3{
  background-color: #E95314 !important;
}



/* Choose Easybank */
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  #choose-easybank {
    background-color: #f3f4f6 !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 0px !important;
  }
}
@media only screen and (min-width: 768px) {
  #choose-easybank {
    background-color: #f3f4f6 !important;
    width: 100% !important;
    max-width: 100% !important;
    /* to counter container max-width for md+ screens*/
  }

  .gutter-md-left-padding {
    padding-left: 15px !important;
  }

  .double-gutter-md-left-padding {
    padding-left: 30px !important;
  }
}
.card {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f3f4f6 !important;
  border: none !important;
  margin: 0 !important;
  cursor: default !important;
}
.card h4 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.card img {
  width: 25% !important;
}
.card p {
  width: 90%;
  font-size: 16px !important;
}

/*Articles*/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  #articles {
    background-color: #fafafa !important;
  }

  .article-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 5% !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 90%;
    background-color: white !important;
    margin: 7% auto 7% auto !important;
  }
  .article-card h5 {
    font-size: 1.12rem !important;
  }
  .article-card .article-details {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 768px) {
  #articles {
    background-color: #fafafa !important;
    width: 100% !important;
    max-width: 100% !important;
    /* to counter container max-width for md+ screens*/
  }

  .article-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 5% !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 90%;
    background-color: white !important;
    margin: 7% 5px 7% 5px !important;
    cursor: default !important;
  }
  .article-card h5 {
    font-size: 1.12rem !important;
  }
  .article-card .article-details {
    font-size: 14px !important;
  }
}



@media only screen and (min-width: 576px) and (max-width: 991.98px) {
  .article-card-odd{
    margin-left: -1% !important;
  }
  .article-card-even{
    margin-right: -1% !important;
  }
}

h5:hover, h5:active {
  color: #2bb7da !important;
}

.author-name {
  font-size: 14px !important;
}

.article-card-text {
  width: 80%;
}

/*footer*/
@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  #social-media-icons i {
    color: white !important;
    font-size: 26px !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #social-media-icons i:hover, #social-media-icons i:active {
    color: #2bb7da !important;
  }

  .footer-link {
    width: 100% !important;
    text-align: center !important;
    color: #ffffff !important;
    font-size: 16px !important;
    padding-top: 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  #social-media-icons i {
    color: white !important;
    font-size: 24px !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #social-media-icons i:hover, #social-media-icons i:active {
    color: #2bb7da !important;
  }

  .footer-link {
    width: 100% !important;
    text-align: left !important;
    color: #ffffff !important;
    font-size: 16px !important;
    padding-top: 0.5rem;
  }
}
.footer-link:active, .footer-link:hover {
  color: #2bb7da !important;
}

footer {
  background-color: #2d314d !important;
}
footer a {
  text-decoration: none !important;
}

#footer-request-invite-btn {
  background: linear-gradient(90deg, #29A3DD, #E95314) !important;
  font-size: 16px !important;
  display: block;
}

#copyright-text {
  font-size: 16px;
  cursor: default !important;
}

/* attribution */
.attribution {
  background-color: #2d314d !important;
  font-size: 11px;
  text-align: center;
  color: #ffffff !important;
  border-top: 1px solid #9698a6;
}

.attribution a {
  color: #2bb7da !important;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .mt-md-custom-easybank{
    margin-top: -13% !important; 
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1549.98px) {
  .mt-md-custom-easybank{
    margin-top: -10% !important; 
  }
  #business-tagline {
    font-size: 2.8rem !important;
  }
}

@media only screen and (min-width: 1550px) {
  .mt-md-custom-easybank{
    margin-top: -8% !important; 
  }
  #business-tagline {
    font-size: 3.8rem !important;
  }
}
.request-btns:hover, .request-btns:active {
  opacity: 0.7;
}







