

<div class="container py-5">
    <!-- For demo purpose -->
    <div class="row mb-4">
        <div class="col-6 mx-auto text-center">
            <h1 class="display-6" style="color: #fff; font-size: 35px; font-weight:bold">Hosmoa Bank Transfers</h1>
        </div>
    </div> <!-- End -->
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto shadow-lg rounded">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Credit card form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item" [ngClass]="{'nav-active': isActive==='T'}"><a routerLink="#" [ngClass]="{'active-item': isActive==='T'}" (click)="changeActive('T'); isShowed=true;" class="nav-link"> <i class="fa fa-credit-card mr-2"></i> Transfer Form </a> </li>
                            <li class="nav-item" [ngClass]="{'nav-active': isActive==='H'}"> <a routerLink="#" [ngClass]="{'active-item': isActive==='H'}" (click)="changeActive('H'); isShowed=false;" class="nav-link "> <i class="fa fa-history mr-2"></i> Transfer Track </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <app-transfer-form *ngIf="isShowed"></app-transfer-form>
                    <app-transfer-history *ngIf="!isShowed"></app-transfer-history>
                </div>
            </div>
        </div>
</div>
