
/* 
.rounded {
    border-radius: 1rem
} */

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-active {
    background-color: #E95314;
}

.nav-pills .nav-link.active-item {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}


.btn-color {
    background-color: #29A3DD;
    color: white;
}

/*
* Other css
*/

