.nav-link.more-item {
    background-color: #29A3DD;
    color: white;
    float: right;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.btn-color {
    background-color: #29A3DD;
    color: white;
}
.x-btn{
    float: right;
}
.hr-class{
    border: solid 2px #E95314;
    margin:10% 0;
}
/* select option{
    align-items: center;
} */
