<div class="tab-content">
    <a (click)="addTransferForm()" class="nav-link more-item my-2"> 
        <i class="fa fa-plus-circle"></i> More 
    </a><br>
    <div id="transfer" class="tab-pane fade show active pt-3 mt-5" *ngFor="let transfer of transfers.controls;let i = index">
        <div class="container mb-2" [formGroup]="transfers.controls[i]">
            <div class="x-btn" *ngIf="transfers.length>1" style="cursor: pointer"  (click)="deletecommandeform(i)"><img style="width:20px; height:20px" src="../../../assets/close1.png" alt=""></div>
            <div class="form-group mt-2"> 
                <label for="username">
                    <h6>Select your debit account (<span style="color:red;">*</span>)</h6>
                </label> 
                <select formControlName="acountNumber" class="form-control" style="text-align:center;" id="ccmonth" [ngClass]="{
                    'invalid':
                        (transfers.controls[i].get('acountNumber').touched 
                        && 
                        transfers.controls[i].get('acountNumber').errors?.required)
                    }">
                    <option *ngFor="let account of accounts" value="{{ account.accountNumber }}">{{account.accountNumber}}</option>
                </select>
                <div class="error" *ngIf="transfers.controls[i].get('acountNumber').touched && transfers.controls[i].get('acountNumber').errors?.required">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    Account number is required !
                </div>
            </div> 
            
            <div class="form-group mt-2">
                <label class="control-label mt-4" for="Select Your Bank">
                    <h6>Enter a destination account (<span style="color:red;">*</span>)</h6>
                </label>
                <div class="input-group mb-3">
                    <input formControlName="numeroCompteDest" type="text" placeholder="Destination account" class="form-control" required [ngClass]="{
                        'invalid':
                            (transfers.controls[i].get('numeroCompteDest').touched 
                            && 
                            transfers.controls[i].get('numeroCompteDest').errors?.required)
                        }"/>
                </div>
                <div class="error" *ngIf="transfers.controls[i].get('numeroCompteDest').touched && transfers.controls[i].get('numeroCompteDest').errors?.required">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    Destination account is required !
                </div>
            </div>
 
            <div class="form-group"> 
                <label for="amount">
                    <h6>Amount (<span style="color:red;">*</span>)</h6>
               </label>
               <div class="input-group"> 
                   <input type="text" formControlName="amount" name="amount" placeholder="Amount..." class="form-control " required [ngClass]="{
                    'invalid':
                        (transfers.controls[i].get('amount').touched 
                        && 
                        transfers.controls[i].get('amount').errors?.required)
                    }">
               </div>
               <div class="error" *ngIf="transfers.controls[i].get('amount').touched && transfers.controls[i].get('amount').errors?.required">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    Amount is required !
                </div>
            </div>
            <div class="form-group"> 
                <label class="mt-4" for="secret">
                    <h6>Secret Key (<span style="color:red;">*</span>)</h6>
                </label>
               <div class="input-group"> 
                   <input type="password" (ngModelChange)="changeisIncorrect(false)" name="secret" formControlName="keySecret" placeholder="Secret Key..." class="form-control " required [ngClass]="{
                    'invalid':
                        (transfers.controls[i].get('keySecret').touched 
                        && 
                        transfers.controls[i].get('keySecret').errors?.required)
                        || 
                        (transfers.controls[i].get('keySecret').touched 
                        && 
                        (transfers.controls[i].get('keySecret').errors?.maxlength 
                        || 
                        transfers.controls[i].get('keySecret').errors?.minlength))
                        || isIncorrect.value
                    }">
               </div>
               <div class="error" *ngIf="transfers.controls[i].get('keySecret').touched && transfers.controls[i].get('keySecret').errors?.required">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    Secret Key is required !
                </div>
                <div class="error" *ngIf="transfers.controls[i].get('keySecret').touched && (transfers.controls[i].get('keySecret').errors?.maxlength || transfers.controls[i].get('keySecret').errors?.minlength)">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    Secret Key must contain 8 caracters !
                </div>
                <div class="error" *ngIf="isIncorrect.value">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                    Hosmoa-Key is incorrect !
                </div>
            </div>

        </div>   
        <div class="">
            <h6 style="color:red;">(<span>*</span>) : required</h6>
        </div> 
        <hr class="hr-class"> 
    </div>   

     <div class="card-footer">
        <button type="button" (click)="createTransfer()" class="subscribe btn btn-color btn-block shadow-sm" style="width: 100%;"> 
            Confirm Payment 
        </button>
    </div>
</div>
