<div class="container">
    <div class="col-md-8 offset-2">
        <table class="table table-bordered  mt-4">
            <thead>
              <tr class="table-primary">
                <th scope="col">Numéro de compte</th>
                <th scope="col">Intitulé</th>
                <th scope="col">Solde</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2546315786241565</th>
                <td>John Down</td>
                <td>8000.00</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>