

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto password-center">
            <h1 class="display-6" style="font-size: 35px; font-weight:bold">Change your Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto shadow-lg rounded">
            <div class="card ">
                <div class="card-header">
                    <div class="tab-content">
                        <div class="mt-3">
                            <strong style="color: #E95314;">To change your password, please fill in the informations below.</strong>
                        </div>
                        <div id="key" [formGroup]="changePasswordForm" class="tab-pane fade show active pt-3 mt-2">
                                <div class="form-group mt-3"> 
                                    <label for="oldPassword">
                                        <h6>Old Password</h6>
                                   </label>
                                   <div class="input-group" > 
                                       <input type="password" (change)="changeStatus(false)" formControlName="oldPassword" name="oldPassword" placeholder="Old Password..." class="form-control " required [ngClass]="{
                                        'invalid':
                                        (changePasswordForm.get('oldPassword').touched 
                                            && 
                                            changePasswordForm.get('oldPassword').errors?.required)
                                            ||
                                        keyIncorrect
                                        }">
                                   </div>
                                   <div class="error" *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').errors?.required">
                                        <span>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        Old Password is required !
                                    </div>
                                    <div class="error" *ngIf="keyIncorrect">
                                        <span>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        Old Password is incorrect!
                                    </div>
                                </div>
                                <div class="form-group mt-3"> 
                                    <label for="newPassword">
                                        <h6>New Password</h6>
                                   </label>
                                   <div class="input-group"> 
                                       <input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password..." class="form-control " required [ngClass]="{
                                        'invalid':
                                        changePasswordForm.get('newPassword').touched 
                                            && 
                                            changePasswordForm.get('newPassword').errors?.required
                                        }">
                                   </div>
                                   <div class="error" *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').errors?.required">
                                        <span>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        New Password is required !
                                    </div>
                                </div>
                                <div class="form-group mt-3"> 
                                    <label for="confirmedPassword">
                                        <h6>Confirm Password</h6>
                                    </label>
                                   <div class="input-group"> 
                                       <input type="password" formControlName="confirmedPassword" name="confirmedPassword" placeholder="New Password Confirmation..." class="form-control " required [ngClass]="{
                                        'invalid':
                                            (changePasswordForm.get('confirmedPassword').touched 
                                            && 
                                            changePasswordForm.get('confirmedPassword').errors?.required)
                                            ||
                                            (changePasswordForm.get('confirmedPassword').touched 
                                            &&
                                            changePasswordForm.get('confirmedPassword').value != changePasswordForm.get('newPassword').value)
                                        }">
                                   </div>
                                   <div class="error" *ngIf="changePasswordForm.get('confirmedPassword').touched && changePasswordForm.get('confirmedPassword').errors?.required">
                                        <span>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        Confirmed Password is required !
                                    </div>
                                    <div class="error" *ngIf="changePasswordForm.get('confirmedPassword').touched && changePasswordForm.get('confirmedPassword').value != changePasswordForm.get('newPassword').value">
                                        <span>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                        Two passwords are not the same !
                                    </div>
                                </div>
                    
                            </div> 
                        </div>   
                        <div class="card-footer mt-4">
                            <button type="button" class="btn btn-block btn-color" [disabled]="changePasswordForm.invalid || changePasswordForm.get('confirmedPassword').value != changePasswordForm.get('newPassword').value" (click)="changePassword()" style="width: 100%;"> 
                                Validate
                            </button>
                        </div>
                </div>
            </div>
        </div>
</div>

