 <div class="container register shadow-lg rounded">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h1>Recharge</h1>
            <p>
                Recharge form. Check the information carefully before validating!</p>
            
        </div>
        <div class="col-md-9 register-right effect2">
           
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" *ngIf="!credentialsVerified" id="home">
                    <h1 class="register-heading">Recharge Form</h1>
                    <div class="row register-form">
                       
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <select class="form-control" required>
                                    <option class="hidden"  selected disabled>Please select your account</option>
                                    <option>Account 1</option>
                                    <option>Account 2</option>
                                    <option>Account 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your secret key" value="" required/>
                            </div>
                            <input type="submit" (click)="next()" class="btnRegister"  value="Next"/> 
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" *ngIf="credentialsVerified" id="profile">
                    <h1 class="register-heading">Recharge Form</h1>
                    <div class="row register-form">
                       
                        <div class="col-md-12">
                            <!-- <div class="form-group mb-4">
                                <select class="form-control" required>
                                    <option class="hidden"  selected disabled>Please select your operator</option>
                                    <option value="Maroc telecom"><i class ="fa fa-credit-card mr-2"></i>Maroc telecom</option>
                                    <option value="inwi">Inwi</option>
                                    <option value="orange">Orange</option>
                                </select>
                            </div> -->
                            <h3>Choose the operator</h3>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="operator" id="maroctelecom">
                                <img src="../../../../assets/Maroc_telecom_logo.svg" alt="" style="height: 20px;width: 20px; margin-right: 5px;">
                                <label class="form-check-label" for="maroctelecom">
                                 Maroc Telecom
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="operator" id="inwi" checked>
                                <img src="../../../../assets/Logo_inwi.svg" alt="" style="height: 20px;width: 20px; margin-right: 5px;">
                                <label class="form-check-label" for="inwi">
                                  Inwi
                                </label>
                              </div>
                              <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="operator" id="orange" checked>
                                <img src="../../../../assets/Orange_logo.svg" alt="" style="height: 20px;width: 20px; margin-right: 5px;">
                                <label class="form-check-label" for="orange">
                                 Orange
                                </label>
                              </div>
                            <div class="form-group mb-4">
                                <input type="text" class="form-control" placeholder="Phone number (Ex : 0612345678)" value="" required/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" required>
                                    <option class="hidden"  selected disabled>Please select recharge amount</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        </div> 
                        <input type="submit" name="" class="btnV" value="Validate"/>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div> 
