<div class="container">
	<div class="row">
		<div class="col-md-8 offset-2 mt-2">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12 title-profile">
		                    <h4>Your Profile</h4>
		                    <hr class="hr-class">
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label"><strong>First Name</strong></label> 
                                <div class="col-8">
                                  <p>Haitham</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label"><strong>Last Name</strong></label> 
                                <div class="col-8">
                                  <p>OUMERZOUG</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label"><strong>Email</strong></label> 
                                <div class="col-8">
                                  <p>haitham@gmail.com</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="" class="col-4 col-form-label"><strong>Address</strong></label> 
                                <div class="col-8">
                                    <textarea id="adress" name="adress" cols="40" rows="4" class="form-control" disabled>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, exercitationem.</textarea>                                </div>
                                </div>
                              <hr class="hr-class">
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label"><strong>City</strong></label> 
                                <div class="col-8">
                                  <p>Marrakech</p>
                                </div>
                              </div> 
                              <div class="form-group row">
                                <label for="" class="col-4 col-form-label"><strong>Zip Code</strong></label> 
                                <div class="col-8">
                                  <p>80090</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label  class="col-4 col-form-label"><strong>Country</strong></label> 
                                <div class="col-8">
                                  <p>Morroco</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label  class="col-4 col-form-label"><strong>Phone</strong></label> 
                                <div class="col-8">
                                  <p>0642509795</p>
                                </div>
                              </div>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>