<div class="container shadow-lg my-4" *ngIf="user!==undefined">
	<div class="row">
		<div class="col-10 offset-1 mt-3">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12 title-profile">
		                    <h4>Your Profile</h4>
		                    <hr class="hr-class">
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label"><strong>Picture</strong></label> 
                                <div class="col-8">
                                 <img src="{{user.picture}}" *ngIf="user.picture!=='' " class="rounded-circle shadow-lg mb-4" width="150" alt="....">
                                 <img src="{{urlImg}}" *ngIf="user.picture==='' " class="rounded-circle shadow-lg mb-4" width="150" alt="...">
                                </div>
                              </div>

                              <div class="form-group row">
                                <label for="name" class="col-4 col-form-label"><strong>First Name</strong></label> 
                                <div class="col-8">
                                  <p>{{user.firstName}}</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label"><strong>Last Name</strong></label> 
                                <div class="col-8">
                                  <p>{{user.lastName}}</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="text" class="col-4 col-form-label"><strong>Email</strong></label> 
                                <div class="col-8">
                                  <p>{{user.email}}</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="" class="col-4 col-form-label"><strong>Address</strong></label> 
                                <div class="col-8">
                                    <textarea id="adress" name="adress" cols="40" rows="4" class="form-control" disabled>{{user.adress}}</textarea>                                </div>
                                </div>
                              <hr class="hr-class">
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label"><strong>City</strong></label> 
                                <div class="col-8">
                                  <p>{{user.city}}</p>
                                </div>
                              </div> 
                              <div class="form-group row">
                                <label for="" class="col-4 col-form-label"><strong>Zip Code</strong></label> 
                                <div class="col-8">
                                  <p>{{user.codePostale}}</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label  class="col-4 col-form-label"><strong>Country</strong></label> 
                                <div class="col-8">
                                  <p>Morocco</p>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label  class="col-4 col-form-label"><strong>Phone</strong></label> 
                                <div class="col-8">
                                  <p>{{user.phoneNumber}}</p>
                                </div>
                              </div>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>
