<div class="tab-content">
    <div id="transfer" class="tab-pane fade show active pt-3 mt-5">
        <div class="container mb-2" [formGroup]="MultipelTransferForm">
            <div class="form-group mt-2"> 
                <label >
                    <h6>Select your debit account (<span style="color:red;">*</span>)</h6>
                </label> 
                <select formControlName="acountNumber" class="form-control" style="text-align:center;" id="ccmonth">
                    <option  *ngFor="let account of accounts" value="{{ account.accountNumber }}">{{account.accountNumber}}</option>
                </select>
            </div> 
            
            <div class="form-group mt-2 d-flex">
                <div class="input-group mb-3">
                    <input  (click)="show()" value="Select one of your benefeciaries" type="button" class="form-control btn-outline-primary"/>
                </div>
                <div class="input-group mb-3">
                    <input  value="Add new benefeciary" type="button" class="form-control btn-outline-warning" style="margin-left: 2%;"/>
                </div>
            </div>

            <form [formGroup]="MultipelTransferBenefForm" class="mb-4" *ngIf="showMe">
                <label >
                    <h6>Select one benefeciary (<span style="color:red;">*</span>)</h6>
                </label> 
                <div class="d-flex">
                        
                    <div class= "col-8">
                        <select  class="form-control" style="text-align:center;" id="ccmonth" formControlName="idBeneficiary">
                            <option disabled selected></option>
                            <option *ngFor="let Beneficiary of myBeneficiaries"  value="{{Beneficiary.id}}">{{Beneficiary.firstName}} {{Beneficiary.lastName}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="amount" class="form-control" placeholder="Enter transfer anmount"/>
                    </div>
                </div> 
                <button class="btn btn-block btn-primary mt-3" [disabled]="MultipelTransferBenefForm.invalid" (click)="addMultipelTransferBenef()" style="width: 100%;">Validate</button>
            </form>    

            <div *ngIf="AllMultipleTransBenefeciries.length!==0" class="mb-4">
                <div class="d-flex" >
                        
                    <div class= "col-8">
                        <label >
                            <h5>Beneficiary</h5>
                        </label>
                    </div>
                    
                    <div class="col-4">
                        <h5>Amount</h5>
                    </div>
                </div> 
                <div class="d-flex" *ngFor="let MultipleTransBeneficiary of AllMultipleTransBenefeciries;let i =index">
                        
                    <div class= "col-8">
                        <label >
                            <h6>{{MultipleTransBeneficiary.beneficiaryName}}</h6>
                        </label>
                        
                    </div>
                    <div class="col-2">
                        <span>{{MultipleTransBeneficiary.amount | balance}}</span>
                    </div>
                    <div class="col-2">
                        <img (click)="deleteMultipelTransferBenef(i)" style="width:18px; height:18px" src="../../../assets/close1.png" alt="">
                    </div>
                </div> 
            </div>

            <div class="form-group"> 
                <label for="amount">
                    <h6>Total Amount (<span style="color:red;">*</span>)</h6>
               </label>
               <div class="input-group"> 
                   <input type="text" formControlName="totalAmount" name="amount" placeholder="Amount..." class="form-control " required>
               </div>
            </div>
            <div class="form-group"> 
                <label class="mt-4" for="secret">
                    <h6>Secret Key (<span style="color:red;">*</span>)</h6>
                </label>
               <div class="input-group"> 
                   <input type="password" name="secret" placeholder="Secret Key..." class="form-control " required>
               </div>
            </div>

        </div>   
        <div class="">
            <h6 style="color:red;">(<span>*</span>) : required</h6>
        </div> 
        <hr class="hr-class"> 
    </div>   

     <div class="card-footer">
        <button type="button" (click)="createMultipTranser()" class="subscribe btn btn-color btn-block shadow-sm" style="width: 100%;"> 
            Confirm Payment 
        </button>
    </div>
</div>
