<div class="tab-content">
    <div id="transfer" class="tab-pane fade show active pt-3 mt-5">
        <div class="container mb-2">
            <div class="form-group mt-2"> 
                <label for="username">
                    <h6>Select your debit account (<span style="color:red;">*</span>)</h6>
                </label> 
                <select  class="form-control" style="text-align:center;" id="ccmonth">
                    <option  value=""></option>
                </select>
            </div> 
            
            <div class="form-group mt-2 d-flex">
                <div class="input-group mb-3">
                    <input  (click)="show()" value="Select one of your benefeciaries" type="button" class="form-control btn-outline-primary"/>
                </div>
                <div class="input-group mb-3">
                    <input  value="Add new benefeciary" type="button" class="form-control btn-outline-warning" style="margin-left: 2%;"/>
                </div>
            </div>
                <form [formGroup]="MultipelTransferBenefForm" class="mb-4" *ngIf="showMe">
                    <label for="username">
                              <h6>Select one benefeciary (<span style="color:red;">*</span>)</h6>
                    </label> 
                    <div class="d-flex justify-content-between">
                        
                        <div class= "col-8">
                            <select  class="form-control" style="text-align:center;" id="ccmonth" formControlName="idBeneficiary">
                              <option  value=""></option>
                            </select>
                        </div>
                        <div class="col-3">
                            <input type="text" formControlName="amount" class="form-control" placeholder="Enter transfer anmount"/>
                        </div>
                    </div> 
                    <button class="btn btn-block btn-primary mt-3" (click)="addMultipelTransferBenef()" style="width: 100%;">Validate</button>
                </form>    
            <div class="form-group"> 
                <label for="amount">
                    <h6>Amount (<span style="color:red;">*</span>)</h6>
               </label>
               <div class="input-group"> 
                   <input type="text"  name="amount" placeholder="Amount..." class="form-control " required>
               </div>
            </div>
            <div class="form-group"> 
                <label class="mt-4" for="secret">
                    <h6>Secret Key (<span style="color:red;">*</span>)</h6>
                </label>
               <div class="input-group"> 
                   <input type="password" name="secret" placeholder="Secret Key..." class="form-control " required>
               </div>
            </div>

        </div>   
        <div class="">
            <h6 style="color:red;">(<span>*</span>) : required</h6>
        </div> 
        <hr class="hr-class"> 
    </div>   

     <div class="card-footer">
        <button type="button" class="subscribe btn btn-color btn-block shadow-sm" style="width: 100%;"> 
            Confirm Payment 
        </button>
    </div>
</div>
