<div class="agent-info" *ngIf="myAgent!==undefined && myAgency!==undefined">
    <div class="accounts d-flex justify-content-between">
        <h4>Contact my agent</h4>
        <img src="../../../assets/ico_conseiller.png" height="30px" width="30px" alt="">
    </div>
    <div class="d-flex cont-agent">
        <img src="../../../assets/pic_adviser.jpg" height="50px" width="50px" alt="">
        <h4>{{myAgent.lastName}} {{myAgent.firstName}}</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <img src="../../../assets/ico_mobile_adv.png" style="margin-right: 1%;" height="25px" width="25px" alt="">
            <span>{{myAgent.phoneNumber}}</span>
        </li>
        <li  class="list-group-item">
            <img src="../../../assets/ico_email_adv.png" style="margin-right: 1%;" height="25px" width="25px" alt="">
            <span>{{myAgent.email}}</span>
        </li>
        <!-- <li  class="list-group-item">
            <img src="../../../assets/ico_phone_adv.png" style="margin-right: 1%;" height="25px" width="25px" alt="">
            <span>0656231457</span>
        </li>
        <li  class="list-group-item">
            <img src="../../../assets/ico_fax_adv.png" style="margin-right: 1%;" height="25px" width="25px" alt="">
            <span>0523564857</span>
        </li> -->
        <li  class="list-group-item">
            <img src="../../../assets/ico_office_adv.png" style="margin-right: 1%;" alt="">
            <span>{{myAgency.city.name}}</span>
        </li>
    </ul>
    <p class="agent-msg"><strong>Nos conseilleurs sont joignables du lundi au vendredi de 8h à 17h</strong></p>
</div>