<div class="container m-auto">
    <div class="col-md-8 offset-2">
        <table class="table table-bordered  mt-4">
            <thead>
              <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Account</th>
                <th scope="col">creationDate</th>
                <th scope="col">Amount</th>
                <th scope="col">Pattern</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">2</th>
                <td>7418529637825</td>
                <td>25-08-2020</td>
                <th scope="row">8000.00</th>
                <td>MTFF</td>
                <td>Saved</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
